.tasks {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 15px;
    gap: 18px;
}
.task {
    border: 3px solid black;
    border-radius: 3px;
    width: 150px;
    background-color: #f4e8d9;
}
.icon {
    color: wheat;
}